.container {
    padding: 3rem 2rem;
    text-align: center;
    max-width: 130rem;
    margin-inline: auto;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@media screen and (min-width: 800px) {
    .top {
        flex-direction: row;
        justify-content: space-between;
    }
}