.container {
    margin-top: 2rem;
    background-color: #fff;
    width: 100%;
    max-width: 40rem;
    margin-inline: auto;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    border: 1px solid var(--borderColor);
}

.container p{
    font-size: 1.5rem;
}

.container input {
    height: 4rem;
    width: 100%;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 2rem;
}

.container input:focus {
    outline: 0;
}

.icon {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    color: var(--borderColor);
}

.icon:hover {
    color: var(--color1);
}

@media screen and (min-width: 1100px) {
    .container {
        margin-top: 0;
    }
}