.swiper1 {
    background-color: #e6efff;
    display: flex;
    flex-direction: column-reverse;
    padding: 4rem;
    height: 40rem;
    gap: 3rem;
}

.text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.text1 h3 {
    display: none;
}

.text1 button {
    width: 100%;
    max-width: 25rem;
    height: 5rem;
    background-color: var(--headerBackgroundColor);
    color: var(--color2);
    font-size: 2.2rem;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin-inline: auto;
    transition: .3s;
}

.text1 button:hover {
    background-color: var(--color1);
}

.text2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.text2 h3 {
    text-align: center;
    font-size: 4rem;
}

.text2 h2 {
    width: 9rem;
    height: 9rem;
    letter-spacing: .5rem;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 1rem;
    background-color: var(--color1);
    color: white;
    font-size: 6rem;
}

.text1 h3,
.text2 h3 {
    color: var(--headerBackgroundColor);
}

.image {
    width: 30%;
    display: none;
}

.image img {
    width: 70%;
    height: auto;
    margin-inline: auto;
}

@media screen and (min-width: 500px) {
    .text1 h3 {
        display: block;
        text-align: center;
        font-size: 3rem;
    }
}

@media screen and (min-width: 560px) {
    .swiper1 {
        flex-direction: row;   
        gap: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    .text1 {
        width: 40%;
        align-items: flex-start;
    }

    .text1 h3 {
        text-align: start;
    }

    .text1 button {
        margin: 0;
    }

    .image {
        display: flex;
        align-items: center;
    }

    .text2 {
        width: 30%;   
        align-items: flex-end;
    }

    .text2 h3 {
        text-align: end;
    }
    
}