.container {
    width: 100%;
    max-width: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    height: 4rem;
}

.container li a {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 2rem;
}

.container li a:hover {
    background-color: rgb(255, 226, 132);
}