.allNews {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 4rem 2rem;
}

.allNews h2 {
  font-size: 2.8rem;
  text-align: center;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.adds {
  display: flex;
  flex-direction: column; 
}

.ad {
  width: 100%;
  max-width: 50rem;
  margin-inline: auto;
  /* cursor: pointer; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2rem;
  border-bottom: 1px solid var(--borderColor2);
}

.image {
  text-align: center;
}

.ad img {
  width: 30rem;
  height: 18rem;
  margin-inline: auto;
}

.ad:hover h3,
.news:hover h3 {
  text-decoration: underline;
}

.adText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.ad h3,
.news h3,
.filtered h3 {
  font-size: 1.8rem;
  color: var(--color2);
}

.ad small,
.ad small,
.news small {
  font-size: 1.2rem;
  color: var(--color3);
}

.ad p,
.ad p,
.news p {
  font-size: 1.4rem;
}

.news {
  padding: 5rem;
  border: 1px solid var(--borderColor);
  width: 100%;
  max-width: 64rem;
  height: 35rem;
  margin-inline: auto;
  border-radius: .5rem;
  cursor: pointer;
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  transition: .4s;
}

.caruaru {
  background-image: url("../image/caruaru.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 40rem;
  color: var(--bgAll);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  /* gap: 4rem; */
  align-items: center;
  /* max-width: 130rem; */
  margin-inline: auto;
}

.main h1 {
  font-size: 4rem;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000,
  0 0 0.2em #000;
  text-align: center;
}

.body {
  margin-inline: auto;
  display: flex;
  gap: 0;
  max-width: 130rem;
}

.filtered {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filtered h3 {
  text-align: center;
}

.search {
  margin-top: 3rem;
  width: 100%;
  max-width: 40rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
}

.search:hover .icon {
  color: var(--color1);
}

.search p{
  font-size: 1.5rem;
}

.search input {
  height: 4rem;
  width: 100%;
  border: none;
  font-size: 1.4rem;
  background-color: transparent;
  margin-inline: auto;
}

.search input:focus {
  outline: 0;
}

.icon {
  height: 3rem;
  width: 3rem;
  color: var(--borderColor);
}

@media screen and (min-width: 700px) {
  .ad {
    flex-direction: row;
    align-items: center;
    max-width: 120rem;
  }

  .adText {
    text-align: start;
  }

  .filtered {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
  }

  .search {
    /* margin-top: 0; */
    margin: 0;
  }

}