.allNews {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  max-width: 130rem;
}

.allNews h2 {
  font-size: 2.8rem;
  text-align: center;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.adds {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.ad1,
.ad2 {
  padding: 2rem 1rem 0 1.5rem;
  border: 1px solid var(--borderColor);
  width: 100%;
  height: 35rem;
  margin-inline: auto;
  border-radius: .5rem;  
  cursor: pointer;
}

.ad1 {
  background-image: url('../image/transito1.jpg');
  background-position: bottom center;
  background-size: auto 100%;
  overflow: hidden;
  transition: .5s;
}

.ad1:hover,
.ad2:hover,
.news:hover {
  background-size: auto 120%;
}

.ad1:hover h3,
.ad2:hover h3,
.news:hover h3 {
  text-decoration: underline;
}

.ad2 {
  background-image: url('../image/danca1.jpg');
  background-position: center center;
  background-size: auto 100%;
  overflow: hidden;
  transition: .4s;
}

.ad1 h3,
.ad2 h3,
.news h3 {
  font-size: 2.3rem;
  color: var(--color2);
  text-shadow: 0rem 0rem 0.5rem black;
}

.ad1 p,
.ad2 p,
.news p {
  font-size: 1.7rem;
  color: var(--color2);
  margin-top: 3rem;
  text-shadow: 0rem 0rem 0.5rem black;
}

.news {
  padding: 5rem;
  border: 1px solid var(--borderColor);
  width: 100%;
  max-width: 64rem;
  height: 35rem;
  margin-inline: auto;
  border-radius: .5rem;
  cursor: pointer;
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  transition: .4s;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  max-width: 130rem;
  margin-inline: auto;
}

.main h1 {
  font-size: 3.5rem;
  margin-top: 3rem;
  text-align: center;
}

.body {
  margin-inline: auto;
  display: flex;
  gap: 0;
  max-width: 130rem;
}

.body1 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (min-width: 400px) {
  .ad1,
  .ad2 {
    padding: 4rem;
  }

  .ad1 h3,
  .ad2 h3,
  .news h3 {
    margin-top: 3rem;
    font-size: 3rem;
  }
}

@media screen and (min-width: 480px) {
  .ad1,
  .ad2,
  .news {
    background-size: auto 150%;
  }

  .ad1:hover,
  .ad2:hover,
  .news:hover {
    background-size: auto 170%;
  }
}

@media screen and (min-width: 899px) {
  .body {
    gap: 5rem;
  }  

  .adds {
    flex-direction: row;
  }
}