.btn {
    width: 100%;  
    display: flex;
    justify-content: center;
    margin-block: 3rem;
}

.btn button {
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: .4rem;
    background-color: var(--headerBackgroundColor);
    color: var(--bgAll);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.7rem;
    transition: .3s;
}

.btn button:hover {
    /* background-color: var(--color1); */
    text-decoration: underline;
}