.container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3rem;
}

.container li {
    list-style: none;
    text-align: center;
    font-size: 1.7rem;
    padding-block: .5rem;
}

.container p {
    font-size: 1.7rem;
    text-align: center;
}

@media screen and (min-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 130rem;
        margin-inline: auto;
    }
}